/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space grotesk;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a17373;
}

.container {
    background: rgb(68, 51, 51);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.title-container {
    border-bottom: 3px solid #804a4a;
    padding-bottom: 10px;
    padding-top: 10px;
}

.title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}

.input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    ;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    color: #ffffff;
}

input,
textarea {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 16px;
    background-color: #804a4a;
    color: white;
    outline: none;
    box-shadow: none;
    caret-color: white;
}

textarea {
    resize: none;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 10px;
    background-color: #edbebe;
    color: #804a4a;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 35px;
}

button:hover {
    background-color: #b87c7c;
    color: #ffffff;
}
